<?xml version="1.0"?>
<launch>

    <arg name="robot_name" default="reignblaze" />

    <!-- Launch Gazebo with an empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="/home/aldy/Desktop/provingGround.world"/>
        <!-- <arg name="world_name" value="worlds/empty.world"/> -->
        <arg name="paused" value="true"/>
    </include>

    <!-- Spawn the robot into Gazebo -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find hexapod_description)/urdf/$(arg robot_name)_model.xacro'"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model reignblaze -z 0.54"/>
    
    <include file="$(find hexapod_description)/launch/description.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>

    <!-- Publish robot odom -->
    <include file="$(find gazebo_odom)/launch/start_gazebo_odom.launch"/>

    <!-- Insert the controllers launch file -->
    <include file="$(find hexapod_gazebo)/launch/reignblaze_control.launch"/>
    <!-- Joint command subscriber -->
    <node name="Joint_Command_Publisher" pkg="hexapod_controller" type="joint_command_publisher" output="screen" />

    <!-- move to raspi -->
    <!-- <include file="$(find hexapod_bringup)/launch/hexapod_simple.launch">
        <arg name="config" value="$(arg robot_name)"/>
    </include> -->
    
</launch>
