<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <arg name="robot_name" default="reignblaze"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find hexapod_description)/urdf/$(arg robot_name)_model.xacro'" />

    <!-- Convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

    <node name="rviz_hexapod" pkg="rviz" type="rviz" output="screen" args="-d $(find hexapod_description)/rviz_prefs/hexapod.rviz" />

</launch>
